
*.xcsettings

*.xcsettings

*.xcworkspacedata

*.xccheckout

Garcia.xcworkspace/xcuserdata/manasap.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Garcia.xcworkspace/contents.xcworkspacedata

Garcia.xcworkspace/xcshareddata/Garcia.xccheckout

Garcia.xcodeproj/project.xcworkspace/xcuserdata/manasap.xcuserdatad/WorkspaceSettings.xcsettings
